#post_content
	%h1= @post.title
	%p= @post.content

	#comments
		%h2
			= @post.comments.count
			comments
		= render @post.comments

		%h3 Reply to thread
		= render "comments/form"

	%br/
	%hr/
	%br/
		
	= link_to "Edit Post", edit_post_path(@post), class: "button"
	= link_to "Delete Post", post_path(@post), method: :Delete, data: {confirm: "Are You Sure you want to do this?"}, class: "button"